.footer {
    margin: auto;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    background-color: #000A14;
    justify-content: space-between;
    position: relative;
}

.footer:before {
    position: absolute;
    content: "";
    background-image: url('../../../public/footer-car.png');
    width: 200px;
    height: 250px;
    right: 0;
    top: 183px;
    background-size: cover;
    background-position: center;
}

.footer:after {
    position: absolute;
    content: "";
    background-image: url('../../../public/car.png');
    width: 200px;
    height: 150px;
    left: 0;
    top: 230px;
    background-size: cover;
    background-position: center;
}

.footer-contact {
    display: flex;
    padding: 30px;
    /* p-5 */
}



.shop-details {
    /* width: 550px; */
    width: 500px;
    /* margin-right: 10px; */
    margin-right: 20px;

}

.shop-details h1 {
    font-weight: 400;
    font-size: 30px;
}

.shop-details p {
    font-size: 16px;
    color: #fff;
}


.contact-us {
    width: 250px;
}

.contact-us h1 {
    font-weight: 400;
    font-size: 30px;
}

.contact-us ul li {
    font-size: 16px;
}

.contact-us ul li:hover {
    /* color: #fff; */
    color: grey;
}




.about-us {
    width: 250px;
}

.about-us h1 {
    font-weight: 400;
    font-size: 30px;
}

.about-us ul li a {
    font-size: 18px;
}

.about-us ul li:hover {
    color: grey;
}




.support {
    width: 250px;

}

.support h1 {
    font-weight: 400;
    font-size: 30px;
}

.support ul li{
    font-size: 18px;
    cursor: pointer;
}

.support ul li:hover {
    color: #fff;
}

hr {
    background-color: azure;
    width: 800px;
    height: 2px;
    /* margin: auto; */
}



.copyright {
    padding: 8px;
}

.copyright p {
    font-size: 20px;
    font-weight: 300;
}

.text-muted {
    font-size: 15px;
}




/* Responsive code */
/* Medium Layout: 1280px. */
/* Checking Size 1000px */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .footer {
        /* width: 992px; */
        width: 100%;
    }

    .footer:before {
        width: 200px;
        height: 250px;
        right: 0;
        top: 182px;
    }

    .footer:after {
        width: 200px;
        height: 150px;
        left: 0;
        top: 230px;
    }

    .shop-details {
        /* width: 550px; */
        width: 500px;

    }

    .contact-us {
        width: 240px;
    }

    .about-us {
        width: 240px;

    }

    .support {
        width: 240px;

    }

    hr {
        background-color: azure;
        width: 700px;
        height: 2px;
    }


    .h1weight {
        font-weight: 400;
        font-size: 25px;
    }

    .pweight {
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        margin-top: 8px;
    }

    .h2weight {
        font-size: 20px;
        font-weight: 300;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer {
        /* width: 768px; */
        width:100%;
    }

    .footer::before {
        width: 150px;
        height: 150px;
        top: 390px;
        /* top: 263px; */
    }

    .footer::after {
        width: 150px;
        height: 150px;
        top: 381px;
    }

    .footer-contact {
        display: grid;
        grid-template-columns: auto auto;
        margin: 0 30px;
        grid-column-gap: 20px;
    }

    .shop-details {
        width: 400px;
    }

    .contact-us {
        margin-bottom: 10px;
        margin-left: 20px;
    }

    .support {
        margin-left: 20px;
    }
    hr {
        width: 553px;
    }
}



/* Mobile Layout: 320px. */
/* Checing Point: 400px */
@media only screen and (max-width: 767px) {
    .footer {
        /* width: 320px; */
        width:100%;
    }
    .footer:after {
        width: 0;
        height: 0;
        left: 0;
        top: 0;
    }
    .footer::before {
        width: 0;
        height: 0;
        right: 0;
        top: 0;
    }
    .footer-contact {
        /* width: 320px; */
        display: grid;
        text-align: center;
        padding-bottom:0;
        /* margin: auto; */
    }
    .shop-details{
        width:80%;
        /* text-align: center; */
        margin: auto;
        margin-bottom: 20px;
    }
    .contact-us,.about-us,.support{
        width:100%;
        margin-bottom:20px;
    }
    .shop-details p {
        font-size: 14px;
    }
    .contact-us ul li,.about-us ul li a,.support ul li{
        font-size: 14px;
    }
    .support{
    margin-bottom:0;
    }
    
    .copyright {
        padding: 5px;
    }

    .copyright p {
        font-size: 14px;
    }
    hr {
        width: 300px;
        height: 2px;
    }
}
